[user]
	name = Uluru
	email = jorddy.castro@gmail.com
[gui]
	recentrepo = C:/Users/User/git init
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
